@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Halant'; /* Name of the font */
  src: url('https://tembeakenya.blob.core.windows.net/static/fonts/halant/Halant-Medium.ttf') format('truetype');
  font-weight: normal; /* You can specify font-weight and style if necessary */
  font-style: normal;
}

.halant {
  font-family: Halant, sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home-bg {
  background-image: url('https://tembeakenya.blob.core.windows.net/static/msa-intro.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  transition: background-image 500ms ease-in-out; /* Smooth transition */

}

#home-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the 0.5 for more/less darkness */
  z-index: 1; /* Ensure the overlay is on top of the image but behind the text */
}

#home-bg * {
  position: relative;
  z-index: 2; /* Ensure text appears above the overlay */
}
